* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #332C39;
}

::-moz-selection {
  background-color: #332C39;
  color: #fff;
}

::selection {
  background-color: #332C39;
  color: #fff;
}

.wrap {
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap header .logo {
  font-family: Audiowide;
  font-size: 24px;
}
.wrap header .languageThemeCon {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.wrap header #languageChanger {
  border: none;
  outline: none;
  font-family: Oxygen;
  font-size: 20px;
  font-weight: 400;
}
.wrap header .themeChanger {
  width: 46px;
  height: 23px;
  border-radius: 20px;
  background-color: #332C39;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.wrap header .themeChanger .themeChanger_circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px #332C39 solid;
  background-color: #068FFF;
}
.wrap .info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrap .info .title {
  font-family: Audiowide;
  font-size: 48px;
}
.wrap .info .underline {
  width: 312px;
  height: 2px;
  background-color: #4E4FEB;
  border-radius: 5px;
}
.wrap .info .subtitle {
  font-family: Oxygen;
  font-size: 16px;
  width: 539px;
  font-weight: 300;
  margin-top: 18px;
}
.wrap .forms {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .forms form {
  width: 490px;
  height: 415px;
  border-radius: 20px;
  border: 1px #332C39 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: Oxygen;
}
.wrap .forms #uploadForm #fileInput {
  display: none;
}
.wrap .forms #uploadForm h3 {
  font-size: 24px;
  font-weight: 700;
}
.wrap .forms #uploadForm .custom-file-label {
  width: 177px;
  height: 177px;
  border-radius: 50%;
  border: 2px solid #4E4FEB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: #4E4FEB;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}
.wrap .forms #uploadForm .custom-file-label:hover {
  background-color: #4E4FEB;
  color: #fff;
}
.wrap .forms #uploadForm .plus {
  color: #4E4FEB;
  transition: 0.3s ease;
}
.wrap .forms #uploadForm .plus:hover {
  color: #fff;
}
.wrap .forms #uploadForm button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.wrap .forms #uploadForm button:hover {
  background-color: #45a049;
}
.wrap .forms #uploadForm #codeInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px); /* Full width minus padding and border */
}
.wrap .forms #uploadForm #message {
  color: red;
  margin-top: 10px;
}
.wrap .forms #uploadForm #fileName {
  display: inline-block;
  margin-left: 10px;
  font-style: italic;
}
.wrap .forms #downloadForm h3 {
  font-size: 24px;
  font-weight: 700;
}
.wrap .forms #downloadForm .downloadForm_icon {
  width: 177px;
  height: 177px;
  border-radius: 50%;
  border: 2px solid #068FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: #068FFF;
}
.wrap .forms #downloadForm .downloadForm_icon:hover {
  background-color: #068FFF;
  color: #fff;
}
.wrap .forms #downloadForm .downloadForm_icon .cloud {
  color: #068FFF;
  transition: 0.3s ease;
}
.wrap .forms #downloadForm .downloadForm_icon:hover .cloud {
  color: #fff;
}/*# sourceMappingURL=style.css.map */